html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout CSS */

body {
  font-family: 'source sans pro', sans-serif;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

main {
 width: 90%;
 align-self: center;
 background-color: #f4f1ec;
}

/* CSS for Desktop (min of 1024px) */
@media only screen and (min-width: 1024px) {
  body {
    flex-direction: row;
  }
}