nav {
 height: 120px;
 background-color: #4056A1;
 color: white;
 display: flex;
 padding-right: 1em;
 padding-left: 1em;
 align-items: center;
 justify-content: space-between;
 z-index: 9999;
}

.logo {
 font-family: 'bungee';
}

.right-nav {
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.fa-solid {
 color: red;
}







