nav {
 height: 120px;
 background-color: #4056A1;
 color: white;
 display: flex;
 padding-right: 1em;
 padding-left: 1em;
 align-items: center;
 justify-content: space-between;
 position: fixed; 
 width: 100%; 
}

.logo {
 font-family: 'bungee';
}

.right-nav {
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.fa-angles-down {
 color: red;
 display: flex;
 align-items: center;
 position: relative;
 padding-top: 5px;
 -moz-animation: bounce 0s infinite linear;
 -o-animation: bounce 0s infinite linear;
 -webkit-animation: bounce 0s infinite linear;
 animation: bounce 2s infinite linear;
 color:000;
}

@-webkit-keyframes bounce {
 0% { top: 0; }
 50% { top: -0.2em; }
 70% { top: -0.3em; }
 100% { top: 0; }
}

@-moz-keyframes bounce {
 0% { top: 0; }
 50% { top: -0.2em; }
 70% { top: -0.3em; }
 100% { top: 0; }
}

@-o-keyframes bounce {
 0% { top: 0; }
 50% { top: -0.2em; }
 70% { top: -0.3em; }
 100% { top: 0; }
}

@-ms-keyframes bounce {
 0% { top: 0; }
 50% { top: -0.2em; }
 70% { top: -0.3em; }
 100% { top: 0; }
}

@keyframes bounce {
 0% { top: 0; }
 50% { top: -0.2em; }
 70% { top: -0.3em; }
 100% { top: 0; }
}

/* CSS for Phones, Tablets etc. (max width of 1023px) */
@media only screen and (max-width: 1023px) {
 nav {
  background: thistle;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
 }
}










