button {
 background-color: #4056A1;
 font-family: 'bungee';
 color: white;
}

.counter {
 font-family: 'bungee';
}

.composing-tweet {
 display: flex;
 flex-direction: column;
 outline: none;
}

#tweet-text {
 background-color: #f4f1ec;
 width: 100%;
 height: 2em;
 padding-top: 10px;
 display: flex;
 border: none;
 outline: none;
 border-bottom: 0.1em solid black;
}

.bottom-tweet-section {
 display: flex;
 justify-content: space-between;
}

.red {
 color: red
}