/* CSS for compsing new tweet */
.submit-form {
 margin-top: 1em;
}

button {
 background-color: #4056A1;
 font-family: 'bungee';
 color: white;
}

.counter {
 font-family: 'bungee';
}

.error {
 display: none;
 font-style: italic;
 font-weight: bolder;
 margin-bottom: 10px;
 color:rgb(240, 99, 99);
}

.composing-tweet {
 display: flex;
 flex-direction: column;
 outline: none;
}

#tweet-text {
 background-color: #f4f1ec;
 width: 100%;
 height: 2em;
 padding-top: 10px;
 display: flex;
 border: none;
 outline: none;
 border-bottom: 0.2em solid rgba(0, 0, 0, 0.796);
}

.bottom-tweet-section {
 display: flex;
 justify-content: space-between;
}

.red {
 color: red
}

/* CSS for Desktop (min of 1024px) */
@media only screen and (min-width: 1024px) {
 .container {
  margin-top: 7em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 .new-tweet {
  width: 70%;
 }

 .submit-form  {
  display: flex; 
  flex-direction: column;
 }  
}

